body {
    background: #fff;
    color: #333;
    font: 11px verdana, arial, helvetica, sans-serif;
}

a:link, a:visited, a:hover {
    color: #666;
    font-weight: bold;
    text-decoration: none;
}

.logo {
    font-family: 'Port Lligat Sans', cursive;
}

.clear {
    width: 100%;
    height: 100px;
}

.center {
    position: absolute;
    left: 500px;
}

.right {
    float: left;
}

.left {
    float: right;
}

.leftCanvas {
    height: 500px;
    background-color: yellow;
}

.rightCanvas {
    height: 500px;
    background-color: yellow;
}

